extends base.pug

block style 
    include ../static/about.css
block content 
  section#aboutmain 
    h3 ABOUT US
  section#abouttext
    p Incorporated in Kolkata in the year 2019 by a group of eminent engineers having more than 20 years of rich experience of working in prestigious companies like Shapoorji Palonji, DLF, Gammon India, Larsen and Toubro, Punjlloyd, HCC, Egis India, Highland group etc., Isometric Engineering Solutions is a professionally managed integrated Civil, Interior, Structural and Architectural Design cum Project Management firm, offering End-to-End Solutions and Services for Corporate, Retail, Hospitality, Healthcare, Institutional, Infrastructure and Industrial sectors as well as Domestic segment under one roof.
  section#secmembers 
    secton#secmembersinside
      section.members#member1
        section.memberimgcont#memberimgcont1
          section.memberimg#memberimg1
          section.membered#membered1
            p B.E. (Civil) Govt Engg College
            p PG in Construction Mgt (NICMAR)
            p Structural Stability Analysis (Certificate course)
        section.membertext#membertext1
          h3 Arindam Mukhopadhyay
          h4 Founder Member & Managing Partner
          hr
          p 22 Years of working experience in diverse fields like Heavy Civil Infrastructure including Bridges & Metros (both elevated & UG with TBM C&C, NATM), Multi-storeyed Residential & Commercial Buildings, Power Plants, National Highways, Industrial Projects, Smart City implementationetc. in prestigious companies like Gammon, L&T, HCC, Simplex, Afcons, Egis India (French MNC).Specialist in Structural Engineering in Stadd Pro & AutoCAD, Renovation & Interior Designing, Civil Construction, all Finishing works, Waterproofing techniques, Estimating & Costing, Quality Control, PMC & Project Management, Project Management software like Primavera, MS Project etc.
      section.members#member2
        section.memberimgcont#memberimgcont2
          secton.memberimg#memberimg2
          section.membered#membered2
            p BSc (Math)
            p D.C.E. Govt Polytechnic
        section.membertext#membertext2
          h3 Kamal Kumar Raha
          h4 Managing Partner
          hr
          p 27 Years of working experience in hardcore Civil construction and Finishing. Have worked in all sorts of Multistoried Residential, Commercial, Hospital Building, Industrial Projects etc. under prestigious companies like DLF Ltd (Delhi & Kolkata), BL Gupta (Delhi), Punjlloyd Ltd.(Gurgaon), Ahluwalia Contractors (Kolkata) etc.Specialist in Project Management, Finishing Works, Civil Works execution, Quality Control and Site Managementworks having excellent source of all types quality Manpower required to execute any type of projects in the industry. 
      section.members#member3
        section.memberimgcont#memberimgcont3
          secton.memberimg#memberimg3
          section.membered#membered3
            p B.E. (Civil) Govt Engg College
        section.membertext#membertext3
          h3 Ashok Kumar
          h4 Managing Partner 
          hr
          p 25 Years of working experience in Multi-storeyed Residential & Commercial Buildings (G+16 to G+32 with Basements), Industrial projects (Power Plant, Brewary plant etc.) in prestigious companies like Shapoorji Palonji Ltd. and DLF Ltd.Specialist in Waterproofing techniques, Renovation & Retrofitting works especially Carbon Wrapping, Jacketing, Micro-concreting etc., Civil Construction; All Finishing works execution, Quality Control. He is also having vast experience in all kinds of destructive & non-destructive testing.

block scripts