doctype html
html(lang="en")
  head
    title Gallery - IES
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")

    link(rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon/favicon-16x16.png")
    link(rel="manifest" href="../static/img/favicon/site.webmanifest")
    link(rel="mask-icon" href="../static/img/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")

    style 
        include ../static/gallery.css

body
    section.galleryhead
      h1 Gallery
    section.tblbtn 
      p.tblbtntxt Click to view our project list
    section.sectable 
      table.table.table-dark.table-striped
        thead 
          tr
            th(scope = "col") Customer/Project/Location
            th(scope = "col") Type of work Executed 
            th(scope = "col") Project Cost (Rs.)

        tbody
          tr   
            td
              strong iKure Techsoft (approval thru CFC, Seattle, USA)
              br
              strong Project:- 
              |ikure Living Lab 
              br
              strong Location:- 
              |Baruipur, WB
            td
              |Project Management Consultancy, as a Principal Project Manager for construction for change (Seattle, USA) for the management of Clinic cum Laboratory of G+2 storied building and other infrastructure works
            td
              |11,32,800 (incl GST)

          tr  
            td
              strong CANOPY Projects Ltd
              br
              strong Project:- 
              |Olive Gardens
              br
              strong Location:- 
              |Patharghata, New Town, Kolkata, WB
            td 
              |Execution of 4 nos G+2 storied Bunglows Aluminium Door & Windows and Structural Glazing with Aluminium & MS Frame & toughened Glass
            td 
              |26,50,900(incl GST)20 lacs order in pipeline

          tr 
            td
              strong Simplex Infrastrure Ltd.
              br
              strong Project:- 
              |Sriram Grand City, G+15 tower construction
              br
              strong Location:- 
              |Uttarparar, WB
            td
              |Execution of Civil works including Mivan shuttering and conventional shuttering for G+15 towers(without materials)
            td
              |1,10,00,000(Tentative)

          tr 
            td
              strong DLF Ltd (Thru consultant CBRE)
              br
              strong Project:- 
              |Waterproofing work
              br
              strong Location:- 
              |DLF IT Park I, New Town, Kolkata, WB
            td
              |Waterproofing work in Canopy with an extension of 0.45 mm thick Jindal/Tata Blue scope corrugated sheet & silicon sealant, 20mm away from the edge to drain out rain water
            td
              |2,77,900(incl GST)

          tr 
            td
              strong SM Nirman Infrastructure & Develoment Pvt. Ltd, 20/3 S.N.Roy Road Kolkata 38
              br
              strong Project:- 
              |LUMINA –II, Uttarayon, Civil Work for G+15 Tower
              br
              strong Location:- 
              |Siliguri, WB 734010
            td
              |All Civil Works (without materials) for building like excavation, reinforcement cutting, bending & fixing, shuttering making & fixing, staging, concreting etc.
            td
              |25,95,000

          tr 
            td
              strong B Das & Associates Pvt Ltd.
              br
              strong Project:- 
              |RVNL Elevated Metro Station civil work
              br
              strong Location:- 
              |Beleghata & New Town stations, Kolkata, WB
            td
              |Construction of Internal walls, Plastering, Parapet Wall, Staircase & Escalator etc. (without materials)
            td
              |6,72,550(incl GST)
          
          tr 
            td
              strong Sohom Estates, Navin Space Housing LLP (Developer)
              br
              strong Project:- 
              |Navita Projects, Residential Gated Community
              br
              strong Location:- 
              |Badu Road, Madhyamgram, Kolkata
            td
              |a) Construction of Cable Trench & High Drain with Concrete & Brick
              br
              |b) RCC Boundary Wall & Main Gates including wall cladding with Granite & Tiles
            td
              |Total Rs. 7,16,350(incl GST)

          tr 
            td
              strong Bengal Ultimate Resorts LLP(Subsidiary company of Mayfair Hotel Group)
              br
              strong Project:- 
              |BUR Office Finishing works
              br
              strong Location:- 
              |Akanksha Island, New Town, Kolkata
            td
              |Conceal Plumbing & CP fittings, Waterproofing, Floor Tile & wall tiles, False Ceiling, POP, Aluminumwindows, Door frame & shutter with vinyl laminates, toughened glass partition, Painting etc. for BULLP Office building with materials
            td
              |13,65,900 (incl GST)
        
          tr 
            td
              strong Bengal Ultimate Resorts LLP(Subsidiary company of MayfairHotel Group)
              br
              strong Project:- 
              |Mayfair Office Finishing work
              br
              strong Location:- 
              |Akanksha Island, New Town, Kolkata
            td
              |Conceal Plumbing & CP fittings, Waterproofing, Floor Tile & wall tiles, False Ceiling, POP, Aluminum windows, toughened glass partition, Painting, Electrical wiring & fittingsetc. for Mayfair Office building with materials
            td
              |4,65,000 (incl GST)
        
          tr 
            td
              strong Bengal Ultimate Resorts LLP(Subsidiary company of MayfairHotel Group)
              br
              strong Project:- 
              |Mayfair Hotel Executive Toilet Mock-up and Misc works
              br
              strong Location:- 
              |Akanksha Island, New Town, Kolkata
            td
              |Floor Tile & wall tiles, Granite counter, Granite cladding on Ledge Wall, toughened glass partition, False Ceiling, Plumbing etc. with materials
            td
              |6,18,000 (Non GST)
        
          tr 
            td
              strong Bengal Ultimate Resorts LLP(Subsidiary company of MayfairHotel Group)
              br
              strong Project:- 
              |Civil Work for Mayfair Hotel Residential Project G+15 Tower of Plate area 550 Sqm.
              br
              strong Location:- 
              |Akanksha Island, New Town, Kolkata
            td
              |All Civil Works (without materials) for building like excavation, reinforcement cutting, bending & fixing, shuttering making & fixing, staging, concreting, piling etc.
            td
              |46,51,000 (incl GST)
        
          tr 
            td
              strong Premco Rail Engineers Ltd, Axis Mall 3rd Floor, New Town
              br
              strong Project:- 
              |Joka Metro Taratal Station building
              br
              strong Location:- 
              |Taratala, near Ajanta Cinema, Kolkata
            td
              |Construction of Parapet Wall, Staircase & Escalator
            td
              |Work done as on dateRs. 50,000(app)
          tr 
            td
              strong Aquateh Feed & Seafoods Pvt Ltd.
              br
              strong Project:- 
              |Construction of Seafood Processing Plant
              br
              strong Location:- 
              |Hanuman Complex, Amta, Howrah, WB
            td
              |Machine Room Roof strengthening & Waterproofing Treatment
            td
              |63,000

          tr 
            td
              strong Aquateh Feed & Seafoods Pvt Ltd.
              br
              strong Project:- 
              |Construction of Seafood Processing Plant
              br
              strong Location:- 
              |Hanuman Complex, Amta, Howrah, WB
            td
              |Structural Design & Drawings of Effluent Treat Plant as per manufacturer drawings (Grit Chamber, Oil & Gas Removal Chamber, Aeration Tank, Primery & Secondary Clarifier, Equalization Tank & Clarified Water Tank etc.)
            td
              |1,10,000

        
          tr 
            td
              strong Aquateh Feed & Seafoods Pvt Ltd.
              br
              strong Project:- 
              |Construction of Seafood Processing Plant
              br
              strong Location:- 
              |Hanuman Complex, Amta, Howrah, WB
            td
              |PMC & Site Supervision (periodic Site visit as per client requirement)
            td
              |35,000

        
          tr 
            td
              strong Bombay Beach Resorts
              br
              strong Project:- 
              |3Star Hotel Finishing work (renovation)
              br
              strong Location:- 
              |Ramnagar, Mandarmoni, East Midnapore, West Bengal
            td
              |Dismantling of Wall & Floor Tiles, Waterproofing, Marble & Tile Flooring & wall cladding, False Ceiling, Conceal Electrical lines & Electrical fittings, Aluminum windows, Painting etc. with materials
            td
              |30,11,550(Non GST)

          tr 
            td
              strong J Kumar Infraprojects Ltd.
              br 
              |Mumbai Metro Line 2
            td
              |Metro Station Building finishing work and part of viaduct construction,labour contract
            td
              |96,45,615 (incl GST)
          tr 
            td
              strong M/s Auto Stores
              br
              |Kanksha, Panagarh Bazar, Panagarh, Barddhaman
            td
              |Floor Tiles, False Ceiling, wardrobe & other furnitures and Internal & External Painting work of indiviual two storied building 3350 Sq.Ft.
            td
              |4,65,000(Non GST)

          tr 
            td
              strong Magnolia Skyview
              br
              |Rajarhat, Kolkata and
              br
              strong Greenfield Resiency
              br
              |Behala, Kolkata
            td
              |Internal Painting work of 3 bhk 1350 Sq.Ft. Flat with Asian Paints and 1 bhk 750 Sq.Ft. Flat with Asian Paints
            td
              |95,000
        
          tr 
            td
              strong Commercial & residential space
              br
              |Jadavpur, Kolkata
            td
              |False Ceiling, Wardrobe, other furniture, Painting work etc.
            td
              |3,25,000
        
          tr 
            td
              |Interior Design of 3 bhk flat 1600 Sq.Ft., Private Residential project
              br
              |Flat no. 2A, Shrachi Dakshin, Panchasayer, Kolkata – 94, WB
            td
              |Wall chipping, Waterproofing, Conceal Plumbing & Electrical lines, Conceal Cistern & Diverter system, Electrical fittings & CP fittings, Floor Tiles, Wall Tiles, False Ceiling, Aluminiumwindows, Toughened Glass Door & Shower cubical, Hyd Beds, Wardrobes, Modular Kitchen, Painting etc.
            td
              |13,45,000
          tr 
            td
              |Renovation & Repair of 3 bhk flat 1600 Sq.Ft.
              br
              |Private Residential projectFlat no. 1A, Shrachi Dakshin, Panchasayer, Kolkata – 94, WB
            td
              |Wall chipping, Waterproofing, Plastering, Putty & Painting, Roof Kota Stone Fixing & Polishing etc. for
            td
              |1,75,000 

          tr 
            td
              |Repair of 3 bhk flat 1600 Sq.Ft.
              br
              | Private Residential projectFlat no. 10A, Shrachi Dakshin, Panchasayer, Kolkata – 94, WB
            td
              |Toilet Floor Waterproofing & Tile Grouting, False Ceiling, Painting, Plumbing and Sanitary fittings repair etc.
            td
              |65,000

          tr 
            td
              |Repair of 3 bhk flat 1600 Sq.Ft., Private Residential project
              br
              |Flat no. 7A, Shrachi Dakshin, Panchasayer, Kolkata – 94, WB
            td
              |Toilet Floor Waterproofing & Tile Grouting, one wall repair & Painting, False Ceiling, old Tiles removal & fixing new Tiles
            td
              |65,000 


          tr 
            td
              |Toilet Waterproofing of 3 bhk flat 1600 Sq.Ft., Private Residential project
              br
              |Flat no. 11A, Shrachi Dakshin, Panchasayer, Kolkata – 94, WB
            td
              |Toilet Floor Waterproofing & Tile Grouting
            td
              |13,400

          tr 
            td
              |Woodwork for Private Residential project
              br
              |Flat no. 2B, Shrachi Dakshin, Panchasayer, Kolkata – 94, WB
            td
              |Devan cum Bed, Sofa with Lounger and Wardrobe
            td
              |1,65,000

        //-   tr 
        //-     td
        //-       |
        //-     td
        //-       |
        //-     td
        //-       |
        //-     td
        //-       |
    
    section.imgbtn 
      p.imgbtntxt Click to view images
    section.eximg
      section.images
        //- p.imgtxt Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ut porro nobis. Voluptatibus, quia! Ipsum et, tenetur ducimus fuga ab at voluptatibus totam quibusdam, vel a quaerat blanditiis repellat iusto
        img(src="../static/img/gallery/image5.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image6.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image7.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image8.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image9.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image10.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image11.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image12.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image13.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image14.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image15.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image16.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image17.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image18.jpeg", alt="" class="galimg")
        img(src="../static/img/gallery/image19.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image20.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image21.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image22.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image23.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image24.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image25.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image26.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image27.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image28.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image29.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image30.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image31.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image32.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image33.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image34.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image35.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image36.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image37.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image38.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image39.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image40.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image41.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image42.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image43.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image44.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image45.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image46.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image47.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image48.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image49.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image50.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image51.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image52.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image53.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image54.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image55.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image56.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image57.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image58.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image59.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image60.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image61.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image62.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image63.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image64.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image65.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image66.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image67.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image68.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image69.jpeg", valt="" class="galimg")
        img(src="../static/img/gallery/image70.jpeg", valt="" class="galimg")


    button.scrollToTopBtn 
      i.fa.fa-angle-up



   
    section#footer 
      p Copyright © 2022 Isometric Engineering Solutions. All rights reserved.



    //- section#footer  
    //-   p Copyright © 2022 Isometric Engineering Solutions. All rights reserved.
block script 
  script(src="../static/gallery.js") 